@use '../../node_modules/tailwindcss/dist/tailwind.css';

:root {
  --some-variable: 10px;
}

html {
  @extend .bg-gray-100;
}

body {
  @extend .p-4;
}

.button {
  font-size: calc(var(--some-variable) * 2);
  @extend .bg-gray-300;
  @extend .rounded;
  @extend .shadow;
  @extend .px-5;
  @extend .py-3;
  @extend .mt-4;
}

card-white {
  display: block;
  @extend .bg-white;
  @extend .rounded-lg;
  @extend .shadow-lg;
}
